ConsolePlantenClient/Service References/PlantenService/plantenservice1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://vdab.be/plantenservice" elementFormDefault="qualified" targetNamespace="http://vdab.be/plantenservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PlantenServiceLibrary" />
  <xs:element name="GetPlantenVanTotPrijs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="minPrijs" type="xs:decimal" />
        <xs:element minOccurs="0" name="maxPrijs" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlantenVanTotPrijsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PlantenServiceLibrary" minOccurs="0" name="GetPlantenVanTotPrijsResult" nillable="true" type="q1:ArrayOfPlant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlantenMetWoord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="woord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlantenMetWoordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PlantenServiceLibrary" minOccurs="0" name="GetPlantenMetWoordResult" nillable="true" type="q2:ArrayOfPlant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>